* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.appp {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbarr {
    background-color: #333;
    height: 50px;
    /* position: fixed; */
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 10px; */
}

.containerr {
    width: 100%;
    display: flex;
    flex: 1;
}

.menu-bar {
    background-color: #f4f4f4;
    width: 20%;
    /* margin-top: 10px; */
    /* display: flex; */
    /* padding: 10px; */
}

.menu-bar button {
    /* border: 20px solid black; */
    width: 100%;
    height: 70px;
    border: 0;
    /* transition: transform ease-in-out 2s; */
}

.menu-bar button:hover {
    border: 1px solid red;
    /* transform: scale(1.1); */
}

.contentt {
    width: 80%;
    background-color: aqua;
    /* flex: 1; */
    /* padding: 10px; */
}

@media (max-width:650px) {
    .appp{
        font-size: xx-small;
    }
    .navbarr{
        height: 50px;
        font-size: large;
    }
    .containerr {
        flex-direction: column;
    }
    .menu-bar{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .menu-bar button{
        border: 1px solid black;
        width: 25%;
        height: 30px;
    }
    .contentt{
        width: 100%;
    }
}


.modal{
    position: fixed;
    top: 25%;
    left: 35%;
    width: 50%;
    height: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    /* flex-direction: column; */
    background-color: rgba(219, 193, 157,1);
}
.modal input{
    margin-left: 5px;
    width: 60%;
}